* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(222, 26%, 31%);
  font-size: 32px;
}

.calculator {
  height: 800px;
  width: 350px;
}
.calculator .top {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.calculator .top .slide-container {
  width: 80px;
}
.calculator .top .numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0 10px;
  margin-bottom: 5px;
}
.calculator .top .slider::before {
  content: "theme";
  text-transform: uppercase;
  position: absolute;
  right: 100px;
  top: 10px;
  color: white;
  letter-spacing: 0.1rem;
}
.calculator .top .slider {
  width: 100%;
  background-color: hsl(223, 31%, 20%);
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 25px;
  transition: opacity 0.2s;
  border-radius: 20px;
  padding: 5px;
}
.calculator .top .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: hsl(6, 63%, 50%);
  cursor: pointer;
}
.calculator .display {
  width: 90%;
  background-color: hsl(224, 36%, 15%);
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  text-align: end;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  height: 160px;
}
.calculator .display .previous-number {
  font-size: 2rem;
  font-weight: normal;
}
.calculator .display .math-sign {
  font-size: 2rem;
  font-weight: normal;
}
.calculator .keypad {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  background-color: hsl(223, 31%, 20%);
  padding: 20px;
}
.calculator .keypad button {
  border-radius: 5px;
  border: none;
  font-size: 32px;
  font-weight: 700;
  color: hsl(221, 14%, 31%);
  transition: all 0.3s;
}
.calculator .keypad .digit,
.calculator .keypad .operator {
  border-bottom: 4px solid hsl(28, 16%, 65%);
  background-color: hsl(30, 25%, 89%);
}
.calculator .keypad .del,
.calculator .keypad .reset {
  background-color: hsl(225, 21%, 49%);
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 4px solid hsl(222, 26%, 31%);
}
.calculator .keypad .reset {
  grid-column-start: 1;
  grid-column-end: 3;
}
.calculator .keypad .equal {
  background-color: hsl(6, 63%, 50%);
  color: white;
  font-size: 1.2rem;
  border-bottom: 4px solid hsl(6, 70%, 34%);
  grid-column-start: 3;
  grid-column-end: 5;
}
.calculator .keypad button:hover {
  cursor: pointer;
}
.calculator .keypad .digit:hover,
.calculator .keypad .operator:hover {
  background-color: hsl(0, 0%, 100%);
}
.calculator .keypad .reset:hover,
.calculator .keypad .del:hover {
  background-color: hsl(225, 53%, 71%);
}
.calculator .keypad .equal:hover {
  background-color: hsl(6, 96%, 62%);
}

@media screen and (min-width: 800px) {
  .calculator {
    width: 500px;
  }
}/*# sourceMappingURL=style.css.map */